<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <div class="shape"><img src="../../assets/border.png"></div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Forgot Your Password?
          </ion-card-title>
          <ion-card-subtitle>
            Enter your<strong> Email</strong> to reset
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input placeholder="Email"></ion-input>
          </ion-item> 

          <div class="bottom-section">
            <ion-button>Reset Password</ion-button>            
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
